<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowImageReflections</key>
	<dict>
		<key>description</key>
		<string>Realtime rendering of reflections</string>
		<key>tweak</key>
		<string>Improved performance when turned off</string>
		<key>type</key>
		<string>boolean</string>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>AllowImageReflectionShadowing</key>
	<dict>
		<key>description</key>
		<string>Realtime rendering of reflection shadows</string>
		<key>tweak</key>
		<string>Improved performance when turned off</string>
		<key>type</key>
		<string>boolean</string>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>AllowRadialBlur</key>
	<dict>
		<key>description</key>
		<string>Radial blur effect that mimics a shockwave</string>
		<key>tweak</key>
		<string>Improved performance when turned off</string>
		<key>type</key>
		<string>boolean</string>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>AllowSubsurfaceScattering</key>
	<dict>
		<key>description</key>
		<string>Scattering of lights as they pass through translucent surfaces</string>
		<key>tweak</key>
		<string>Improved performance when turned off</string>
		<key>type</key>
		<string>boolean</string>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>AmbientOcclusion</key>
	<dict>
		<key>description</key>
		<string>Effect that darkens corners and other features to create a more natural, realistic look</string>
		<key>tweak</key>
		<string>Improved performance when turned off</string>
		<key>type</key>
		<string>boolean</string>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>Bloom</key>
	<dict>
		<key>description</key>
		<string>Effect that increases the luminosity of light sources</string>
		<key>tweak</key>
		<string>Improved performance when turned off</string>
		<key>type</key>
		<string>boolean</string>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>CompositeDynamicLights</key>
	<dict>
		<key>description</key>
		<string>Less accurate form of dynamic lighting</string>
		<key>tweak</key>
		<string>Improved performance when turned on</string>
		<key>type</key>
		<string>boolean</string>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>DecalCullDistanceScale</key>
	<dict>
		<key>description</key>
		<string>Distance at which decals are culled or drawn</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>float</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>0.1</string>
			<string>0.2</string>
			<string>0.3</string>
			<string>0.4</string>
			<string>0.5</string>
			<string>0.6</string>
			<string>0.7</string>
			<string>0.8</string>
			<string>0.9</string>
			<string>1.0</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>0.1</string>
			<string>0.2</string>
			<string>0.3</string>
			<string>0.4</string>
			<string>0.5</string>
			<string>0.6</string>
			<string>0.7</string>
			<string>0.8</string>
			<string>0.9</string>
			<string>1.0</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>DepthOfField</key>
	<dict>
		<key>description</key>
		<string>Effect that blurs objects in the background</string>
		<key>tweak</key>
		<string>Possibly improved performance when turned on</string>
		<key>type</key>
		<string>boolean</string>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>DetailMode</key>
	<dict>
		<key>description</key>
		<string>Level of additional details</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>int</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>Distortion</key>
	<dict>
		<key>description</key>
		<string>Effect that adds distortions </string>
		<key>tweak</key>
		<string>Improved performance when turned off</string>
		<key>type</key>
		<string>boolean</string>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>DynamicDecals</key>
	<dict>
		<key>description</key>
		<string>Decals that are dynamically spawned during gameplay</string>
		<key>tweak</key>
		<string>Improved performance when turned off</string>
		<key>type</key>
		<string>boolean</string>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>DynamicLights</key>
	<dict>
		<key>description</key>
		<string>Lights that are dynamically created during gameplay</string>
		<key>tweak</key>
		<string>Improved performance when turned off</string>
		<key>type</key>
		<string>boolean</string>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>DynamicShadows</key>
	<dict>
		<key>description</key>
		<string>Shadows that are dynamically created during gameplay</string>
		<key>tweak</key>
		<string>Improved performance when turned off</string>
		<key>type</key>
		<string>boolean</string>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>FogVolumes</key>
	<dict>
		<key>description</key>
		<string>Effect that adds realistic, volumetric fog</string>
		<key>tweak</key>
		<string>Improved performance when turned off</string>
		<key>type</key>
		<string>boolean</string>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>LensFlares</key>
	<dict>
		<key>description</key>
		<string>Effect that simulates scattering of light</string>
		<key>tweak</key>
		<string>Improved performance when turned off</string>
		<key>type</key>
		<string>boolean</string>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>LightEnvironmentShadows</key>
	<dict>
		<key>description</key>
		<string>Shadows that are created by the general lighting</string>
		<key>tweak</key>
		<string>Improved performance when turned off</string>
		<key>type</key>
		<string>boolean</string>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>MaxAnisotropy</key>
	<dict>
		<key>description</key>
		<string>Level of AF (Anisotropic Filtering), an effect that makes distant textures clearer</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>int</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>0</string>
			<string>2</string>
			<string>4</string>
			<string>8</string>
			<string>16</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>0</string>
			<string>2</string>
			<string>4</string>
			<string>8</string>
			<string>16</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>MaxShadowResolution</key>
	<dict>
		<key>description</key>
		<string>Maximum resolution of shadows</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>int</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>0</string>
			<string>16</string>
			<string>32</string>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
			<string>4096</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>0</string>
			<string>16</string>
			<string>32</string>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
			<string>4096</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>MinShadowResolution</key>
	<dict>
		<key>description</key>
		<string>Minimum resolution of shadows</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>int</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>0</string>
			<string>16</string>
			<string>32</string>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
			<string>4096</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>0</string>
			<string>16</string>
			<string>32</string>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
			<string>4096</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>MotionBlur</key>
	<dict>
		<key>description</key>
		<string>Effect that adds blur based on motion</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>boolean</string>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>SpeedTreeFronds</key>
	<dict>
		<key>description</key>
		<string>Rendering of SpeedTree foliage</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>boolean</string>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>SpeedTreeLeaves</key>
	<dict>
		<key>description</key>
		<string>Rendering of SpeedTree foliage</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>boolean</string>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>StaticDecals</key>
	<dict>
		<key>description</key>
		<string>Rendering of decals that are static</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>boolean</string>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_Bokeh</key>
	<dict>
		<key>description</key>
		<string>Texture resolution</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_Character</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of characters</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_CharacterNormalMap</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of character normal maps</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_CharacterSpecular</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of character speculars</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_Cinematic</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of cinematics</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_ColorLookupTable</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of color lookup tables</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_Effects</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of effects</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_EffectsNotFiltered</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of not filtered effects</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_ImageBasedReflection</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of images based reflections</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_Lightmap</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of lightmaps</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_ProcBuilding_Face</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of building faces</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_ProcBuilding_LightMap</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of building lightmaps</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_Shadowmap</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of shadowmaps</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,NumStreamedMips=3,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,NumStreamedMips=3,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,NumStreamedMips=3,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,NumStreamedMips=3,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,NumStreamedMips=3,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,NumStreamedMips=3,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_Skybox</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of skyboxes</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_Terrain_Heightmap</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of terrain heightmaps</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_Terrain_Weightmap</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of terrain weightmaps</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_UI</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of user interfaces</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_Vehicle</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of vehicles</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_VehicleNormalMap</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of vehicle normal maps</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_VehicleSpecular</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of vehicle speculars</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_Weapon</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of weapons</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_WeaponNormalMap</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of weapon normal maps</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_WeaponSpecular</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of weapon speculars</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_World</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of worlds</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_WorldNormalMap</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of world normal maps</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
	<key>TEXTUREGROUP_WorldSpecular</key>
	<dict>
		<key>description</key>
		<string>Texture resolution of world speculars</string>
		<key>tweak</key>
		<string>Improved performance when lowered</string>
		<key>type</key>
		<string>string</string>
		<key>descriptionsOfPossibleValues</key>
		<array>
			<string>64</string>
			<string>128</string>
			<string>256</string>
			<string>512</string>
			<string>1024</string>
			<string>2048</string>
		</array>
		<key>possibleValues</key>
		<array>
			<string>(MinLODSize=1,MaxLODSize=64,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=128,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=256,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=512,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=1024,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
			<string>(MinLODSize=1,MaxLODSize=2048,LODBias=0,MinMagFilter=Aniso,MipFilter=Point,MipGenSettings=TMGS_SimpleAverage)</string>
		</array>
		<key>section</key>
		<string>SystemSettings</string>
	</dict>
</dict>
</plist>
